#social-media .social a {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 0.6rem;
    transform: translateX(82%);
}
#social-media .social a i {
    margin-right: 0.5rem;
    font-size: 1rem;
}
.navbar {
    display: block;
    text-align: left;
    transition: height 1s ease-in;
    z-index: 8;
    margin: 1rem;
}

.navbar ul {
    text-align: center;
    max-height: 0;
    display: block;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

.navbar ul li a {
    padding: 0.2rem;
    display: block;
}

.navbar ul li:last-child {
    margin-bottom: 1rem;
}

.navbar .ham-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    flex-direction: row;
}

.ham-container .hamburger {
    border: 1px solid var(--mid-gray);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px 3px;
}

.hamburger .ham-mid {
    border: 1px solid var(--mid-gray);
    width: 65%;
}

.cards {
    display: block;
}

#showcase {
    background-size: 95vw;
}

#recent-events .recent-card {
    margin: 1.3rem auto;
}
#gallery .gallery-container i {
    font-size: 1rem;
    padding: 0.5rem;
}
#gallery .gallery-container i.left {
    left: 0rem;
    transform: translate(-3px, -50%);
}
#gallery .gallery-container i.right {
    right: 0rem;
    transform: translate(3px, -50%);
}
.logos {
    display: block;
}

.logos .splogo {
    margin: 1rem auto;
    width: 200px;
}
