:root {
    --light-gray: #bdbdbd;
    --dark-gray: #121212;
    --mid-gray: #666666;
    --green-gray: #607d8b;
    --lime: #cddc39;
}

.logo-img {
    width: 40px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.head-font {
    font-weight: lighter;
    font-family: "Bebas Neue", cursive;
}

.section-head-font {
    font-weight: lighter;
    font-family: "Bebas Neue", cursive;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.text-centered {
    text-align: center;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 1.3rem;
}

.py-1 {
    padding: 1rem 0rem;
}

.py-2 {
    padding: 1.8rem 0rem;
}

.py-3 {
    padding: 2.3rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.8rem;
}

.p-3 {
    padding: 2.3rem;
}

.link {
    color: #0277bd;
}

.bg-dark {
    background: var(--dark-gray);
    color: #fff;
}
.red {
    color: #a83f39;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.8;
}

#social-media {
    position: fixed;
    top: 75vh;
    right: 0;
    transform: translateY(-50%);
}

#social-media .social a {
    background: var(--lime);
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: 0.7rem;
    transform: translateX(80%);
    border-radius: 7px;
    font-size: 0.7rem;
    transition: transform 0.7s ease;
}

#social-media .social a:hover {
    transform: translateX(-0.3rem);
}

#social-media .social a i {
    margin-right: 1rem;
    font-size: 1.5rem;
}

#header {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 1rem 2rem;
    padding: 0rem 1rem;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em 1em var(--dark-gray);
    background: #fff;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    list-style: none;
    font-size: 1.2rem;
}

.navbar ul li a {
    padding: 1rem 1.8rem;
    color: var(--dark-gray);
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.navbar ul li a:hover {
    background: var(--dark-gray);
    color: #fff;
}

.navbar .ham-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar .hamburger {
    display: none;
}

#showcase {
    background: var(--dark-gray) url("../img/about-dark-compressed.png")
        no-repeat center center/80vw;
    min-height: 100vh;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
}

#showcase h1 {
    font-size: 1.9rem;
}

#showcase h3 {
    font-size: 1.3rem;
}

#showcase p::after {
    content: "|";
    color: #fff;
}

#showcase p {
    font-size: 1.9rem;
    color: var(--lime);
}

#showcase .angle {
    position: absolute;
    bottom: 10vh;
    animation: godown 2s ease-in-out infinite;
    font-size: 7rem;
    z-index: 1;
}
@media (max-height: 430px) {
    #showcase .angle {
        bottom: 5vh;
    }
}
@keyframes godown {
    50% {
        bottom: 0vh;
    }
}

#about-us > .container > p {
    font-size: 1rem;
    margin: 2rem 0px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    padding: 1.5rem;
    border: 1px solid var(--light-gray);
    margin: 20px;
    border-radius: 10px;
    transition: box-shadow 0.4s ease-in;
}

.card:hover {
    box-shadow: 0 1.5em 3em 0 rgba(0, 0, 0, 0.2);
}

.card .top {
    height: 5rem;
    font-size: 5rem;
    text-align: center;
    align-self: center;
}

.card h3 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    font-weight: lighter;
}

.card ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card ul li {
    text-align: center;
    padding: 0.5rem 0.7rem;
    font-weight: lighter;
    border-radius: 3px;
    animation: shake 8.5s infinite;
    width: fit-content;
    box-shadow: 0 0.4em 1em 0 rgba(0, 0, 0, 0.2);
}

#about-us .card {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@keyframes shake {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-2deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(3deg);
    }
    30% {
        transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(2px, 1px) rotate(-2deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(4deg);
    }
    90% {
        transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

#stats .stat i {
    margin-bottom: 0.8rem;
    font-size: 2.5rem;
}

#stats .stat {
    font-size: 1.5rem;
    line-height: 1.5;
}
#recent-events .cards {
    flex-wrap: wrap;
}
#recent-events .recent-card {
    text-align: center;
    justify-self: center;
    margin: 1rem;
    border: 1px solid var(--light-gray);
    border-radius: 7px;
    transition: box-shadow 0.4s ease-in;
    padding: 0.5rem;
    width: max-content;
}
#recent-events .container {
    max-width: 1300px;
}

#recent-events .recent-card img {
    width: 250px;
    height: 355px;
}

#recent-events .recent-card h4 {
    padding: 0rem 0.2rem;
    display: block;
    max-width: 250px;
}

#recent-events .recent-card:hover {
    box-shadow: 0 1.5em 3em 0 rgba(0, 0, 0, 0.2);
}
#gallery .gallery-container {
    position: relative;
    overflow: hidden;
}
#gallery .gallery-container img {
    width: 100%;
    position: absolute;
    opacity: 0;
    z-index: -1;
    animation: opfade 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: none;
}
#gallery .gallery-container .visible {
    position: static;
    display: block;
    opacity: 1;
}
@keyframes opfade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#gallery .container {
    max-width: 800px;
}
#gallery .gallery-container i {
    position: absolute;
    z-index: 2;
    top: 50%;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.7rem;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
#gallery .gallery-container i.left {
    left: 0rem;
    transform: translate(-7px, -50%);
}
#gallery .gallery-container i.right {
    right: 0rem;
    transform: translate(7px, -50%);
}
#gallery .gallery-container .dots {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
}
#gallery .gallery-container .dots .dot {
    width: 1rem;
    height: 1rem;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    margin: 7px 4px;
    border-radius: 50%;
    transition: backgroung 0s;
}
#gallery .gallery-container .dots .highlighted {
    background: rgba(255, 255, 255, 0.8);
    transition: background 0.3s ease-in;
}

#sponsors {
    background: #f4f4f4;
}

.logos {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logos .splogo {
    flex: 1;
    width: 50%;
}

#footer {
    line-height: 2.4;
}
#footer p {
    font-weight: 800;
}
#footer p a {
    color: #ccc;
    transition: color 0.3s ease-in-out;
    font-weight: 800;
}
#footer p a:hover {
    color: var(--lime);
}
